In [56]:
pip install requests bs4 fake_useragent pandas psycopg2_binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (2.32.4)
Requirement already satisfied: bs4 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (0.0.2)
Requirement already satisfied: fake_useragent in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: pandas in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: psycopg2_binary in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (2.9.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from requests) (2025.6.15)
Requirement already satisfied: idna<4,>=2.5 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from requests) (3.10)
Requirement already satisfied: charset_normalizer<4,>=2 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from requests) (3.4.2)
Requirement already satisfied: beautifulsoup4 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from bs4) (4.13.4)
Requirement already satisfied: numpy>=1.22.4 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: pytz>=2020.1 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from beautifulsoup4->bs4) (4.14.0)
Requirement already satisfied: soupsieve>1.2 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.7)
Note: you may need to restart the kernel to use updated packages.

In [57]:
import random
import requests
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
import pandas as pd
import os
import psycopg2

title = 'data+engineer'

work_model = {'1': 'On-site', '2': 'Remote', '3': 'Hybrid'}
job_ids = set()
job_work_model = {}

for n_results in range(0,21,10):
    id_WM = random.choice(list(work_model.keys()))
    list_url = f'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords={title}&location=United%20States&geoId=103644278&f_WT={id_WM}&sortBy=DD&start={n_results}'

    
    ua = UserAgent()
    userAgent = ua.random
    headers = {'User-Agent': userAgent}
    response = requests.get(list_url, headers = headers)

    list_data = response.text
    list_soup = BeautifulSoup(list_data, 'html.parser')
    job_cards = list_soup.find_all('div', class_='base-card')

    for card in job_cards:
        if 'data-entity-urn' in card.attrs:
            job_id = card['data-entity-urn'].split(':')[3]
            job_ids.add(job_id)
            job_work_model[job_id] = work_model[id_WM]

job_ids = list(job_ids)

In [58]:
job_list = []

for job_id in job_ids:
    ua = UserAgent()
    userAgent = ua.random
    headers = {'User-Agent': userAgent}
    job_url = f'https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}?_l=en_US'
    job_response = requests.get(job_url, headers = headers)
    # print(job_response.status_code)

    if job_response.status_code == 200:
        job_post = {}
        job_soup = BeautifulSoup(job_response.text, 'html.parser')

        job_post['job_id'] = job_id

        try:
            job_post['job_title'] = job_soup.find('h2', {'class': 'top-card-layout__title'}).text.strip()
        except:
            job_post['job_title'] = None

        try:
            job_post['company_name'] = job_soup.find('a', {'class': 'topcard__org-name-link'}).text.strip()
        except:
            job_post['company_name'] = None

        job_post['work_model'] = job_work_model.get(job_id, None)

        try:
            job_post['location'] = job_soup.find('span', {'class': 'topcard__flavor topcard__flavor--bullet'}).text.strip()
        except:
            job_post['location'] = None   

        try:
            job_post['time_posted'] = job_soup.find('span', {'class': 'posted-time-ago__text'}).text.strip()
        except:
            job_post['time_posted'] = None

        try:
            job_post['num_applicants'] = job_soup.find('span', {'class': 'num-applicants__caption'}).text.strip()
        except:
            job_post['num_applicants'] = None
        
        job_criteria = {}
        for item in job_soup.find_all('li', class_='description__job-criteria-item'):
            try:
                label = item.find('h3', class_='description__job-criteria-subheader').text.strip()
                value = item.find('span', class_='description__job-criteria-text').text.strip()
                job_criteria[label] = value
            except:
                continue

        job_post['xp_level'] = job_criteria.get(list(job_criteria.keys())[0], None)
        job_post['job_type'] = job_criteria.get(list(job_criteria.keys())[1], None)
        job_post['job_sectors'] = job_criteria.get(list(job_criteria.keys())[3], None)

        try:
            job_post['job_description'] = job_soup.find('div', {'class': 'show-more-less-html__markup'}).get_text(separator="\n", strip=True)
        except:
            job_post['job_description'] = None

        job_list.append(job_post)


jobs_df = pd.DataFrame(job_list)
jobs_df

,job_id,job_title,company_name,work_model,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
0,4252403261,Senior Data Engineer,Asana,Hybrid,"San Francisco, CA",1 week ago,None,Associate,Full-time,Software Development,"As part of the Data Engineering team, you will..."
1,4232940657,Data Engineer,Middle Seat,Remote,"Washington, DC",1 month ago,None,Entry level,Full-time,IT Services and IT Consulting,Middle Seat is a full-service media and fundra...
2,4124931707,Data Engineer,Zoox,Hybrid,"Foster City, CA",1 week ago,None,Not Applicable,Full-time,Automotive,The Data team leverages data from our autonomo...
3,4160656913,Data Engineer,Finix,Hybrid,"San Francisco, CA",2 days ago,None,Entry level,Full-time,Financial Services,About Us\nMove money. Make money. Finix is a f...
4,4227411210,Junior Data Engineer,Rize Credit Union,Hybrid,"Irwindale, CA",1 month ago,None,Mid-Senior level,Full-time,Financial Services,Are you passionate about turning raw data into...
5,4257708833,Data Engineer/Senior Data Engineer/Lead Data E...,ClearNote Health,Remote,"San Diego, CA",5 days ago,None,Mid-Senior level,Full-time,Internet Publishing,Job Title: Data Engineer/Senior Data Engineer/...
6,3970353535,Data Engineer,Figma,Remote,"San Francisco, CA",1 week ago,None,Mid-Senior level,Full-time,Design Services,Figma is growing our team of passionate creati...
7,4246012425,Data Engineer,Lazard Asset Management,Hybrid,"New York, United States",2 weeks ago,None,Entry level,Full-time,Investment Management,Americas\nAsset Management\nNew York\nLazard i...
8,4179982116,Data Engineer (L5) - Content Production & Prom...,Netflix,Remote,United States,2 days ago,None,Not Applicable,Full-time,Entertainment Providers,Netflix is one of the world's leading entertai...
9,4212085122,Senior Data Engineer,Samsara,Remote,United States,3 days ago,None,Mid-Senior level,Full-time,Software Development,Who We Are\nSamsara (NYSE: IOT) is the pioneer...
10,4216499552,Data Engineer,Ibotta,Hybrid,"Denver, CO",2 weeks ago,None,Entry level,Full-time,"Technology, Information and Media",Ibotta is looking for a software-focused\nData...
11,4251972021,Junior Data Engineer,The Value Maximizer,Hybrid,"New Jersey, United States",1 week ago,30 applicants,Mid-Senior level,Full-time,IT Services and IT Consulting,Job Title:\nJunior Data Engineer (Campus Hire)...
12,4235550250,Data Engineer,Paces,Hybrid,"Brooklyn, NY",1 month ago,None,Entry level,Full-time,Software Development,"In the next 30 years, the world will transform..."
13,4209905359,Data Engineer 5 - Playback,Netflix,Remote,United States,1 week ago,None,Not Applicable,Full-time,Entertainment Providers,Netflix is one of the world's leading entertai...
14,4230106830,Data Engineer - Data Engineering,Plaid,Hybrid,"San Francisco, CA",5 days ago,None,Mid-Senior level,Full-time,"Software Development, Technology, Information ...",The main goal of the DE team in 2024-25 is to ...
15,4208343571,"Software Engineer (L4) - Member, Commerce & Ga...",Netflix,Remote,United States,5 days ago,None,Not Applicable,Full-time,Entertainment Providers,Netflix is one of the world's leading entertai...
16,4209157444,Data Engineer,BDG,Hybrid,"New York, NY",1 month ago,None,Entry level,Full-time,Online Audio and Video Media,Bustle Digital Group (BDG) is looking for a ta...
17,4233100791,Data Engineer,Leader Bank,Remote,United States,8 hours ago,None,Entry level,Full-time,Banking,Description\nLeader Bank is looking for except...
18,4260001898,Sr. Data Engineer,CGS Federal (Contact Government Services),Remote,United States,1 day ago,33 applicants,Associate,Full-time,"Hospitality, Food and Beverage Services, and R...","Employment Type: Full-Time, Mid-level\nDepartm..."
19,4254134391,Senior Data Engineer,Andiamo,Remote,"New York, NY",1 week ago,None,Mid-Senior level,Full-time,"Food and Beverage Services, Information Servic...","About the Role\nWe are a fast-growing, consume..."
20,4260004537,Sr. Data Engineer,CGS Federal (Contact Government Services),Remote,United States,1 day ago,None,Associate,Full-time,"Hospitality, Food and Beverage Services, and R...","Employment Type: Full-Time, Mid-level\nDepartm..."
21,4255376438,Senior Data Engineer,Procore Technologies,Remote,"Austin, TX",1 week ago,None,Mid-Senior level,Full-time,Software Development,Job Description\nWhat if you could use your te...
22,4243686674,Data Engineer,Courtyard.io,Remote,United States,3 weeks ago,None,Mid-Senior level,Full-time,Internet Marketplace Platforms,Courtyard.io is the fastest-growing collectibl...
23,4187566335,Data & Analytics Engineer,MojoTech,Remote,United States,6 days ago,None,Entry level,Full-time,Software Development,"Overview\nMojoTech, established in 2008, is an..."
24,3970356046,Data Engineer,Figma,Remote,United States,6 days ago,None,Mid-Senior level,Full-time,Design Services,Figma is growing our team of passionate creati...
25,3970352584,Data Engineer,Figma,Remote,"New York, NY",6 days ago,None,Mid-Senior level,Full-time,Design Services,Figma is growing our team of passionate creati...
26,4239626016,Data Engineer III,Fanatics,Remote,United States,1 week ago,None,Mid-Senior level,Full-time,"Technology, Information and Internet",Job Description\nAbout this role\nAs a Data En...
27,4218006269,Data Engineer,Protecht,Remote,"San Francisco, CA",2 months ago,None,Mid-Senior level,Full-time,Internet Publishing,"Protecht is reinventing refunds, striving to m..."

In [59]:
import re
key_tools = [

    # üßë‚Äçüíª Programming Languages
    'Python', 'R', 'Java', 'Scala', 'SQL', 'NoSQL', 'Julia', 'TypeScript', 'JavaScript', 'Go', 'C++',

    # üìä Data Analysis & Manipulation
    'Pandas', 'NumPy', 'Dask', 'Polars', 'OpenRefine', 'Tidyverse', 'DataFrames', 'Vaex', 'Koalas', 'Pyspark'

    # ü§ñ Machine Learning & AI
    'Scikit-learn', 'TensorFlow', 'PyTorch', 'Keras', 'XGBoost', 'LightGBM', 'CatBoost',
    'FastAI', 'MLlib', 'H2O.ai', 'AutoML', 'DeepLearning4j', 'Optuna', 'MLflow', 'Hugging Face', 'ONNX',

    # üìà Data Visualization
    'Matplotlib', 'Seaborn', 'Plotly', 'Bokeh', 'Altair', 'Dash',
    'Tableau', 'Power BI', 'Looker', 'QuickSight', 'Google Data Studio', 'Superset', 'QlikView', 'MicroStrategy',

    # ‚òÅÔ∏è Cloud Platforms
    'AWS', 'Amazon S3', 'Athena', 'Redshift', 'Glue', 'Lambda',
    'GCP', 'BigQuery', 'Dataflow', 'Google Cloud Storage', 'Vertex AI',
    'Azure', 'Azure Synapse', 'Azure Data Lake', 'Azure ML', 'Databricks', 'Data Factory', 'Blob Storage'

    # üß± Databases & Warehousing
    'PostgreSQL', 'MySQL', 'SQL Server', 'Oracle', 'SQLite',
    'Snowflake', 'Databricks', 'ClickHouse', 'Vertica', 'Greenplum',
    'MongoDB', 'Cassandra', 'Elasticsearch', 'InfluxDB', 'Redis', 'Neo4j', 'DynamoDB',

    # üóÉÔ∏è Data Pipelines & ETL/ELT
    'Apache Airflow', 'Luigi', 'DBT', 'Apache NiFi', 'Kafka', 'Apache Beam', 'Apache Flink',
    'Fivetran', 'Stitch', 'Matillion', 'Informatica', 'Talend', 'Singer', 'Pentaho', 'StreamSets',

    # üß™ Experimentation & Statistics
    'A/B Testing', 'Bayesian', 'Frequentist', 'T-Tests', 'P-Values', 'Hypothesis Testing', 'Randomized Control Trials',
    'Statsmodels', 'Prophet', 'PyMC3', 'SciPy', 'RStan',

    # üß† NLP & Text Analytics
    'spaCy', 'NLTK', 'Gensim', 'BERT', 'T5', 'LLaMA', 'OpenAI', 'LangChain', 'TextBlob', 'transformers',

    # üì¶ DevOps, CI/CD, and Containers
    'Docker', 'Kubernetes', 'Terraform', 'Git', 'GitHub Actions', 'Jenkins', 'CircleCI', 'Ansible', 'ArgoCD',

    # üõ† MLOps & Workflow Orchestration
    'MLflow', 'Kubeflow', 'Tecton', 'ZenML', 'Dagster', 'SageMaker Pipelines', 'Metaflow', 'Weights & Biases',

    # üì° APIs & Web Services
    'REST API', 'GraphQL', 'gRPC', 'OpenAPI', 'FastAPI', 'Flask', 'Django',

    # üîê Security, Monitoring & Governance
    'Apache Ranger', 'Great Expectations', 'Monte Carlo', 'DataDog', 'Alation', 'Collibra', 'DataHub', 'Bigeye',

    # üìÅ File Formats & Serialization
    'Parquet', 'Avro', 'ORC', 'Feather', 'CSV', 'JSON', 'XML', 'YAML', 'HDF5', 'Pickle',

    # üß† Data Science Notebooks & IDEs
    'Jupyter', 'VS Code', 'JupyterLab', 'Colab', 'Zeppelin', 'RStudio', 'PyCharm',

    # üè¢ Business Tools
    'Excel', 'Google Sheets', 'Smartsheet', 'Airtable', 'SAP', 'Salesforce',

    # üõ°Ô∏è Operating Systems & Scripting
    'Linux', 'Shell', 'Bash', 'PowerShell', 'zsh',

    # üîÅ Scheduling & Workflow Tools
    'Apache Oozie', 'Prefect', 'Crontab', 'RunDeck', 'Control-M'
]



def extract_tools(text):
    if not isinstance(text, str):
        return []
    found = [tool for tool in key_tools if re.search(r'\b' + re.escape(tool) + r'\b', text, flags=re.IGNORECASE)]
    return found

jobs_df['extracted_tools'] = jobs_df['job_description'].apply(extract_tools)

import pandas as pd
from datetime import datetime, timedelta
import re


def parse_relative_date(text):
    if not isinstance(text, str):
        return pd.NaT
    text = text.lower()
    now = datetime.now()

    patterns = {
        'hour': r'(\d+)\s+hour',
        'day': r'(\d+)\s+day',
        'week': r'(\d+)\s+week',
        'month': r'(\d+)\s+month',
        'year': r'(\d+)\s+year',
        'minute': r'(\d+)\s+minute'
    }

    for unit, pattern in patterns.items():
        match = re.search(pattern, text)
        if match:
            value = int(match.group(1))
            if unit == 'hour':
                return (now - timedelta(hours=value)).date()
            elif unit == 'day':
                return (now - timedelta(days=value)).date()
            elif unit == 'week':
                return (now - timedelta(weeks=value)).date()
            elif unit == 'month':
                return (now - timedelta(days=30*value)).date() 
            elif unit == 'year':
                return (now - timedelta(days=365*value)).date() # Approximate
            elif unit == 'minute':
                return (now - timedelta(minutes=value)).date()

    return pd.NaT


jobs_df['time_posted'] = jobs_df['time_posted'].apply(parse_relative_date)
jobs_df['time_posted'] = pd.to_datetime(jobs_df['time_posted']).dt.date

In [60]:
jobs_df

,job_id,job_title,company_name,work_model,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description,extracted_tools
0,4252403261,Senior Data Engineer,Asana,Hybrid,"San Francisco, CA",2025-06-24,None,Associate,Full-time,Software Development,"As part of the Data Engineering team, you will...","[Python, Java, Scala, SQL, AWS, Redshift, Data..."
1,4232940657,Data Engineer,Middle Seat,Remote,"Washington, DC",2025-06-01,None,Entry level,Full-time,IT Services and IT Consulting,Middle Seat is a full-service media and fundra...,"[Python, SQL, Looker, AWS, Redshift, DBT, Exce..."
2,4124931707,Data Engineer,Zoox,Hybrid,"Foster City, CA",2025-06-24,None,Not Applicable,Full-time,Automotive,The Data team leverages data from our autonomo...,"[Python, Scala, SQL, Kafka]"
3,4160656913,Data Engineer,Finix,Hybrid,"San Francisco, CA",2025-06-29,None,Entry level,Full-time,Financial Services,About Us\nMove money. Make money. Finix is a f...,"[Python, Java, SQL, Go, Tableau, Looker, Super..."
4,4227411210,Junior Data Engineer,Rize Credit Union,Hybrid,"Irwindale, CA",2025-06-01,None,Mid-Senior level,Full-time,Financial Services,Are you passionate about turning raw data into...,"[Python, R, SQL, Power BI, QuickSight, AWS, GC..."
5,4257708833,Data Engineer/Senior Data Engineer/Lead Data E...,ClearNote Health,Remote,"San Diego, CA",2025-06-26,None,Mid-Senior level,Full-time,Internet Publishing,Job Title: Data Engineer/Senior Data Engineer/...,"[Python, R, SQL]"
6,3970353535,Data Engineer,Figma,Remote,"San Francisco, CA",2025-06-24,None,Mid-Senior level,Full-time,Design Services,Figma is growing our team of passionate creati...,"[Python, SQL, Go, Snowflake, DBT, Dagster, Sal..."
7,4246012425,Data Engineer,Lazard Asset Management,Hybrid,"New York, United States",2025-06-17,None,Entry level,Full-time,Investment Management,Americas\nAsset Management\nNew York\nLazard i...,"[Python, SQL, Azure, Git, Ansible, YAML, Linux..."
8,4179982116,Data Engineer (L5) - Content Production & Prom...,Netflix,Remote,United States,2025-06-29,None,Not Applicable,Full-time,Entertainment Providers,Netflix is one of the world's leading entertai...,"[Python, Java]"
9,4212085122,Senior Data Engineer,Samsara,Remote,United States,2025-06-28,None,Mid-Senior level,Full-time,Software Development,Who We Are\nSamsara (NYSE: IOT) is the pioneer...,"[Python, SQL, AWS, Lambda, GCP, Azure, Databri..."
10,4216499552,Data Engineer,Ibotta,Hybrid,"Denver, CO",2025-06-17,None,Entry level,Full-time,"Technology, Information and Media",Ibotta is looking for a software-focused\nData...,"[Python, Scala, SQL, AWS, Databricks, Databric..."
11,4251972021,Junior Data Engineer,The Value Maximizer,Hybrid,"New Jersey, United States",2025-06-24,30 applicants,Mid-Senior level,Full-time,IT Services and IT Consulting,Job Title:\nJunior Data Engineer (Campus Hire)...,"[Python, SQL, AWS, GCP, Azure, MySQL, Oracle, ..."
12,4235550250,Data Engineer,Paces,Hybrid,"Brooklyn, NY",2025-06-01,None,Entry level,Full-time,Software Development,"In the next 30 years, the world will transform...","[Python, Scala, SQL, AWS, GCP, Azure, Dagster,..."
13,4209905359,Data Engineer 5 - Playback,Netflix,Remote,United States,2025-06-24,None,Not Applicable,Full-time,Entertainment Providers,Netflix is one of the world's leading entertai...,"[Python, Java, Scala, SQL]"
14,4230106830,Data Engineer - Data Engineering,Plaid,Hybrid,"San Francisco, CA",2025-06-26,None,Mid-Senior level,Full-time,"Software Development, Technology, Information ...",The main goal of the DE team in 2024-25 is to ...,"[Python, SQL, Redshift, Databricks, Snowflake,..."
15,4208343571,"Software Engineer (L4) - Member, Commerce & Ga...",Netflix,Remote,United States,2025-06-26,None,Not Applicable,Full-time,Entertainment Providers,Netflix is one of the world's leading entertai...,[]
16,4209157444,Data Engineer,BDG,Hybrid,"New York, NY",2025-06-01,None,Entry level,Full-time,Online Audio and Video Media,Bustle Digital Group (BDG) is looking for a ta...,"[Python, SQL, TypeScript, AWS, Redshift, GCP, ..."
17,4233100791,Data Engineer,Leader Bank,Remote,United States,2025-07-01,None,Entry level,Full-time,Banking,Description\nLeader Bank is looking for except...,"[Python, SQL, Snowflake, Matillion]"
18,4260001898,Sr. Data Engineer,CGS Federal (Contact Government Services),Remote,United States,2025-06-30,33 applicants,Associate,Full-time,"Hospitality, Food and Beverage Services, and R...","Employment Type: Full-Time, Mid-level\nDepartm...","[Python, R, SQL, Tableau, Git, Linux, Shell]"
19,4254134391,Senior Data Engineer,Andiamo,Remote,"New York, NY",2025-06-24,None,Mid-Senior level,Full-time,"Food and Beverage Services, Information Servic...","About the Role\nWe are a fast-growing, consume...","[Python, SQL, AWS, Redshift, BigQuery, Databri..."
20,4260004537,Sr. Data Engineer,CGS Federal (Contact Government Services),Remote,United States,2025-06-30,None,Associate,Full-time,"Hospitality, Food and Beverage Services, and R...","Employment Type: Full-Time, Mid-level\nDepartm...","[Python, R, SQL, Tableau, Git, Linux, Shell]"
21,4255376438,Senior Data Engineer,Procore Technologies,Remote,"Austin, TX",2025-06-24,None,Mid-Senior level,Full-time,Software Development,Job Description\nWhat if you could use your te...,"[Python, SQL, Tableau, AWS, Databricks, Snowfl..."
22,4243686674,Data Engineer,Courtyard.io,Remote,United States,2025-06-10,None,Mid-Senior level,Full-time,Internet Marketplace Platforms,Courtyard.io is the fastest-growing collectibl...,"[Python, SQL, GCP, BigQuery, DBT, Docker, Kube..."
23,4187566335,Data & Analytics Engineer,MojoTech,Remote,United States,2025-06-25,None,Entry level,Full-time,Software Development,"Overview\nMojoTech, established in 2008, is an...","[Python, TensorFlow, PyTorch, Tableau, Power B..."
24,3970356046,Data Engineer,Figma,Remote,United States,2025-06-25,None,Mid-Senior level,Full-time,Design Services,Figma is growing our team of passionate creati...,"[Python, SQL, Go, Snowflake, DBT, Dagster, Sal..."
25,3970352584,Data Engineer,Figma,Remote,"New York, NY",2025-06-25,None,Mid-Senior level,Full-time,Design Services,Figma is growing our team of passionate creati...,"[Python, SQL, Go, Snowflake, DBT, Dagster, Sal..."
26,4239626016,Data Engineer III,Fanatics,Remote,United States,2025-06-24,None,Mid-Senior level,Full-time,"Technology, Information and Internet",Job Description\nAbout this role\nAs a Data En...,"[Python, R, SQL, NoSQL, Tableau, MicroStrategy..."
27,4218006269,Data Engineer,Protecht,Remote,"San Francisco, CA",2025-05-02,None,Mid-Senior level,Full-time,Internet Publishing,"Protecht is reinventing refunds, striving to m...","[Python, Java, SQL, Tableau, Looker, AWS, Athe..."

In [ ]:
db_params = {

}



try:
    # Connect to PostgreSQL
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()
    
    # SQL Insert Query
    insert_query = """
    INSERT INTO linkedin_jobs (
        job_id, job_title, company_name, work_model, location,
        time_posted, num_applicants, xp_level, job_type,
        job_sectors, job_description, extracted_tools
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    ON CONFLICT (job_id) DO NOTHING;  -- Avoids duplicate primary key errors
"""

    
    # Insert DataFrame records one by one
    for _, row in jobs_df.iterrows():
        cursor.execute(insert_query, (
            row['job_id'],
            row['job_title'],
            row['company_name'],
            row['work_model'],
            row['location'],
            row['time_posted'],  # Make sure this is a `date` object
            row['num_applicants'],
            row['xp_level'],
            row['job_type'],
            row['job_sectors'],
            row['job_description'],
            row['extracted_tools']  # Should be a Python list, e.g., ['Python', 'SQL']
    ))

    # Commit and close
    conn.commit()
    print("Data inserted successfully!")

except Exception as e:
    print(e)

finally:
    if conn:
        cursor.close()
        conn.close

Data inserted successfully!